body{background-color: rgb(29,29,35);
color:white ;}

.start-timer{background-color: rgb(240,247,87);}

.timer-input{
    background-color: rgb(61, 57, 68);
    border: 1px solid black;
    /* margin-top: 100px;
    margin-bottom: 100px; */
    display:flex ;
    justify-content: center;
    /* margin-right: 150px; */
    /* margin-left: 80px; */
  
}

.layout-style {
    width: 250px;
    height: 20px;
    top: 313px;
    margin: 0 auto; /* Center horizontally */
    background: #39393e;
    border-radius: 50px;
}

/* Center-align the contents of .active-timers */
.active-timers {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    flex-direction: column; /* Display timers vertically */
    
}



.active-timer{
    margin-top: 15px; /* Add margin at the top of each timer end message */
    text-align: center; /* Center-align the text */
    background:#34344a;
    width: 400px;
    height: 50px;
    top: 428px;
    left: 438px;
    border-radius: 20px;

}

